<h2>Product</h2>
<div class="card">
    <div class="card-body">
      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
        
        <div class="form-group">
            <input
             type="text"
              class="form-control"
               name="name"
                #name="ngModel"
                 [(ngModel)]="productService.selectedProduct.name"
                  placeholder="Add Product Name" required>
        </div>
  
        <div class="form-group">
          <input 
          type="text" 
          class="form-control"
          name="category" 
          #category="ngModel" 
          [(ngModel)]="productService.selectedProduct.category" 
          placeholder="Add Product Gategory" required
          >
        </div>

        <div class="form-group">
                <input 
                type="text" 
                class="form-control"
                name="picture" 
                #picture="ngModel" 
                [(ngModel)]="productService.selectedProduct.picture" 
                placeholder="Add Product URL Picture" required
                >
              </div>
              <div class="form-group">
                  <input 
                  type="text" 
                  class="form-control"
                  name="picture1" 
                  #picture1="ngModel" 
                  [(ngModel)]="productService.selectedProduct.picture1" 
                  placeholder="Add Product URL Picture" required
                  >
                </div>
                <div class="form-group">
                    <input 
                    type="text" 
                    class="form-control"
                    name="picture2" 
                    #picture2="ngModel" 
                    [(ngModel)]="productService.selectedProduct.picture2" 
                    placeholder="Add Product URL Picture" required
                    >
                  </div>
  
        <div class="form-group">
          <input 
          type="text" 
          class="form-control"
          name="location" 
          #location="ngModel" 
          [(ngModel)]="productService.selectedProduct.location" 
          placeholder="Add Product Location" required
          >
        </div>
  
        <div class="form-group">
          <input 
          type="text" 
          class="form-control"
          name="price" 
          #price="ngModel" 
          [(ngModel)]="productService.selectedProduct.price" 
          placeholder="Add Product Price" required
          >
        </div>
  
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-plus-circle">Add Product</i>
          </button>
          <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                <i class="fas fa-sync-alt">Reset</i>
              </button>
        </div>
      </form>
    </div>
  </div>