<div class="card">
    <div class="card-body">
        <h6 class="text-center">List of Product</h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let product of productList">
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(product)">
                            <i class="far fa-edit">Update</i>
                        </a>
                        <a class="btn btn-danger text-white">
                            <i class="fas fa-trash-alt" (click)="onDelete(product.$key)">Remove</i>
                        </a>
                    </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>